#links {

  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  right: 64px;
  bottom: 64px;
  background-color: #222222dd;
  gap: 12px;
  border-radius: 12px;
  z-index: 999999999999;

  a{
    color: white;

  }
}
